{% extends 'backend/base.html' %}

{% block title %} Product List {% endblock %}

{% block content %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Products</h1>
    </div>


    <div class="card">
        <form action="" method="get" class="card-header">
    {% csrf_token %}
    <div class="form-row justify-content-between">
        <div class="col-md-2">
            <input type="text" name="{{ filter.form.title.name }}" placeholder="Product Title" class="form-control" value="{{ filter.form.title.value }}">
        </div>
        <div class="col-md-2">
            <select name="{{ filter.form.variant.name }}" id="" class="form-control">
                <option selected disabled>{{ filter.form.variant.label }}</option>
<!--                {% for choice in filter.form.variant.choices %}-->
<!--                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>-->
<!--                {% endfor %}-->
            </select>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Price Range</span>
                </div>
                <input type="text" name="{{ filter.form.price_from.name }}" aria-label="From" placeholder="From" class="form-control" value="{{ filter.form.price_from.value }}">
                <input type="text" name="{{ filter.form.price_to.name }}" aria-label="To" placeholder="To" class="form-control" value="{{ filter.form.price_to.value }}">
            </div>
        </div>
        <div class="col-md-2">
            <input type="date" name="{{ filter.form.date.name }}" placeholder="Date" class="form-control" value="{{ filter.form.date.value }}">
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-primary float-right"><i class="fa fa-search"></i></button>
        </div>
    </div>
</form>



        <div class="card-body">
            <div class="table-response">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Variant</th>
                        <th width="150px">Action</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ product.title }}<br> Created at: {{ product.created_at }}</td>
                            <td>{{ product.description }}</td>
                            <td>
                                {% for variant_price in product.productvariantprice_set.all %}
                                <dl class="row mb-0" style="height: 80px; overflow: hidden" id="variant">
                                    <dt class="col-sm-3 pb-0">
                                        {{ variant_price.product_variant_two.variant.title }}/
                                        {{ variant_price.product_variant_one.variant.title }}/
                                    </dt>
                                    <dd class="col-sm-9">
                                        <dl class="row mb-0">
                                            <dd class="col-sm-4 pb-0">Price: {{ variant_price.price }}</dd>
                                            <dd class="col-sm-8 pb-0">InStock: {{ variant_price.stock }}</dd>
                                        </dl>
                                    </dd>
                                </dl>

                                {% endfor %}
                                <button onclick="$('#variant').toggleClass('h-auto')" class="btn btn-sm btn-link">Show more</button>
                            </td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <a href="{% url 'product:update.product' product.id %}" class="btn btn-success">Edit</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>

        </div>

        <div class="card-footer">
            <div class="row justify-content-between">
                <div class="col-md-6">
                    <p>Showing {{ products.start_index }} to {{ products.end_index }} out of {{ products.paginator.count }}</p>
                </div>

                <div class="col-md-6">
                    <ul class="pagination justify-content-end">
                        {% if products.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">&laquo;&laquo;</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a>
                            </li>
                        {% endif %}
                        {% for i in products.paginator.page_range %}
                            <li class="page-item {% if products.number == i %}active{% endif %}">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endfor %}
                        {% if products.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ products.paginator.num_pages }}">&raquo;&raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>


            </div>
        </div>
    </div>
{% endblock %}